*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #314584;
}
.container {
  max-width: 1168px;
  margin: 0px auto;
  padding: 0px 10px;
}
.header {
  position: fixed;
  width: 100%;
  padding-top: 78px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo-block {
  width: 115px;
}
.header__logo {
  padding-top: 10px;
  padding-left: 5px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: block;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  text-align: center;
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header__link {
  color: #314584;
  text-decoration: none;
  font-size: 18px;
}
.content {
  padding: 100px 0px 0px 0px;
}
.content__text {
  font-size: 16px;
  line-height: 20px;
}
.content__text p {
  margin: 0px 0px 20px 0px;
}
.header__buttons-languege {
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: black;
}
#lang {
  color: #314584;
  font-size: 10px;
  background-color: transparent;
  cursor: pointer;
}
.header__buttons-contactus {
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  background-color: white;
  color: #ff3946;
  border-radius: 5%;
  border: none;
  height: 25px;
  width: 115px;
  margin-top: 5px;
  box-shadow: 3px 5px 5px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.slider {
  display: block;
  max-width: 1168px;
  margin: 0 auto;
  margin-top: 198px;
}
.slider__wrapper {
  background-image: url(images/Vector\ Illustration.png);
  background-repeat: no-repeat;
  background-size: 350px;
  height: 380px;
  background-position: right top;
}
.slider__info {
  padding-left: 20px;
  width: 70%;
}
.slider__info-title {
  font-size: 62px;
}
.slider__info-text {
  width: 90%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #7a8085;
}
.slider__info-buttons {
  margin-top: 20px;
}
.slider__info-butttons-more {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 54px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  background-color: #ff3946;
  cursor: pointer;
}
.slider__info-butttons-get {
  margin-left: 20px;
  color: #314584;
  background: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.gallery__title {
  text-align: center;
  margin-bottom: 88px;
  font-size: 48px;
}
.gallery_images {
  max-width: 1168px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.gallery_images img {
  width: 355px;
  height: 220px;
  display: flex;
  margin: 15px 15px;
}
.gallery_ps {
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  color: #ff3946;
}
.contactus {
  max-width: 1168px;
  margin: 0 auto;

  margin-top: 150px;
}
.contactus__name {
  margin-top: 40px;
  color: blue;
  margin-left: 10px;
}
.contactus__title {
  font-size: 48px;
  margin-left: 10px;
}
.mailsubject {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.contactus__input-email {
  padding-left: 32px;
  width: 48%;
  height: 55px;
  background-color: #f4fafe;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  outline: none;
}
.contactus__input-email::placeholder {
  color: #314584;
}
.contactus__input-subject {
  padding-left: 32px;
  width: 48%;
  height: 55px;
  background-color: #f4fafe;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  outline: none;
}
.contactus__input-subject::placeholder {
  color: #314584;
}
.contactus__input-message {
  padding-left: 32px;
  height: 55px;
  width: 97.5%;
  background-color: #f4fafe;
  color: #314584;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
}
.contactus__input-subject::placeholder {
  color: #314584;
}
.contactus__form-button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 54px;
  border-radius: 25px;
  color: white;
  background-color: #ff3946;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  margin-top: 20px;
  background-color: #314584;
}
.footer h5 {
  padding-top: 40px;
  color: white;
  text-align: center;
}
.footer h2 {
  padding-top: 20px;
  color: #ff3946;
  font-size: 48px;
  text-align: center;
}
.navnames {
  text-align: center;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}
.navnames span {
  color: white;
  text-align: center;
}
.footer p {
  margin-top: 20px;
  color: white;
  text-align: center;
}
.footer__social-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding-top: 0;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    width: 40px;
    height: 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin: 0 auto;
  }
  .header__burger span {
    position: absolute;
    background-color: #314584;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #314584;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    padding: 70px 10px 20px 10px;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .content {
    padding: 70px 0px 0px 0px;
  }
  .slider {
    display: none;
  }
  .gallery {
    margin-top: 108px;
  }
}

@media (min-width: 1920px) {
  .header {
    height: 200px;
  }
  .header__logo-block {
    position: absolute;
    margin-left: -170px;
  }
  .header__buttons {
    display: flex;
    flex-direction: row-reverse;
  }
  .header__buttons-languege {
    padding-top: 20px;
    margin-right: 30px;
  }
  #lang {
    font-size: 18px;
    font-weight: bold;
  }
  .header__buttons-contactus {
    height: 55px;
    width: 200px;
  }
  .slider {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 250px;
    height: 700px;
  }
  .slider__wrapper {
    height: 700px;
    background-size: 600px;
  }
  .slider__info {
    padding-top: 60px;
    padding-left: 145px;
    width: 45%;
  }
  .slider__info-text {
    margin-top: 40px;
  }
  .gallery__title {
    max-width: 1148px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 30px;
  }
}
